body { padding-top:60px; padding-left: 450px ; margin: auto;
    width: 100%;
   
   }
.form-control { margin-bottom: 20px;

}
.footer {
  position: fixed;
	left: 0;
	border: 0;
	width: 100%;
	
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}